.displayProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: center;
  gap: 20px;
  max-width: 750px;
  width: 100%;

  .productCard {
    max-width: 124px;
    width: 100%;
    height: 225px;
    // max-height: 225px;
    // padding: 20px;
    text-align: start;
    overflow: hidden;
    margin: auto;
    .imgDiv {
      background-color: #c4c4c4;
      max-width: 92px;
      width: 100%;
      height: 92px;
      margin: auto;
    }
    .textStar {
      height: 40px;
      margin: 10px 0px;
    }
    .textContent {
      margin: auto;
      height: 110px;
      max-width: 92px;
      width: 100%;
      padding-bottom: 5px;
    }
    .itemPrice {
      color: #1ea4ce;
      font-weight: bold;
    }
    .cardBuyButton {
      // max-width: 100%;
      // background-color: rgb(152, 192, 217);
      // border: none;
      // color: white;
      // padding: 5px;
      // text-align: center;
      // text-decoration: none;
      // display: inline-block;
      // font-size: 16px;
      // cursor: pointer;
      // font-weight: bold;
      // margin-top: auto;
      /* width: 90%; */
    }
  }
}

.pagesPagination {
  display: flex;
  justify-content: center;
  margin: auto;
}
.cardBuyButton:hover {
  background-color: rgb(61, 90, 128);
  color: white;
}

.navigationButtons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.navigationButtons a {
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navigationButtons a:hover {
  color: white;
  background-color: #1ea4ce;
}

.navigationActive a {
  color: white;
  background-color: #1ea4ce;
}

.navigationDisabled a {
  color: #1ea4ce;
}

.buyButton {
  max-width: 124px;
  width: 100%;
  background-color: #1ea4ce;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border: none;
}
