.cartItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  margin: auto;
  max-width: 230px;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  // margin-bottom: 5px;
  .cartItemList {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    // flex-wrap: wrap;

    .leftContent {
      display: flex;
      flex-direction: column;
      text-align: start;
      // flex-wrap: wrap;
      .priceSpan {
        color: #1ea4ce;
      }
    }
    .rightContent {
      display: flex;
      margin-left: auto;
      align-items: center;
      // flex-wrap: wrap;
      .cartItemButton {
        background-color: transparent;
        border: none;
        color: #1ea4ce;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin: auto;
      }
    }
  }
}
